.menu-link {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(34, 34, 34);
    padding: 5px;
    position: relative;
  
  }
  
  
  
  .menu-link::after {
    content: "";
    height: 2px;
    position: absolute;
    width: 30%;
    background: #fd6a53;
    bottom: 0;
    left: 0;
    
    transition: all 1s ease;
  
  }
  
  .menu-link::before {
    content: "";
    height: 60%;
    position: absolute;
    width: 2px;
    background: #fd6a53;
    bottom: 0;
    left: 0;
    
    transition: all 1s ease;
  
  }
  
